
.navbar-brand{
    display: flex;
    align-items: center;
    
}
.navbar-brand::before{
    content: "";
    background-image: url(../assets/img/logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 37px;
    height: 33px;
    
}